.loading {
  visibility: hidden;
  position: absolute;
  z-index: 5;
  left: 40px;
  bottom: 40px;
  opacity: 0;
  padding: 10px 20px 10px 37px;
  color: #fff;
  background: $lapis-blue;
  border-radius: 4px;
  box-shadow: 0 4px 16px transparentize($lapis-blue, 0.6);
  &.visible {
    visibility: visible;
  }
}
.ui-spinner {
  position: absolute;
  top: 17px;
  left: 18px;
}
