.series {
	@extend .st;
	position: absolute;
	top: 41px;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	&.visible {
		visibility: visible;
	}
}
.series-content {
	@extend .cf;
	//@extend .ts;
	z-index: 2;
	opacity: 0;
	position: absolute;
	top: 40px;
	left: 50%;
	bottom: 0;
	margin-left: calc(-250px + 170px / 2);
	width: 500px;
	background: #fff;
	transform: scale(0.95);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	transform-origin: bottom center;
	&.visible {
		opacity: 1;
		transform: scale(1);
		transition: all 300ms cubic-bezier(0.180, 0.875, 0.210, 1.080);
		transition-delay: 0.1s;
	}
}
.series-overlay {
	@extend .ts;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	background: transparentize($winter-black, 0.1);
	&.visible {
		opacity: 1;
	}
}
.series-left {
	margin-left: -170px;
	float: left;
}
.series-right {
	cursor: auto;
	float: left;
	width: 100%;
	overflow-y: scroll;
	height: 100%;
}
.series-right-top {
	padding: 20px;
}
.series-title {
	@extend .vollkorn;
	margin-left: -1px;
	color: $heading;
	font-size: ms(3);
	line-height: 1;
}
.series-meta {
	padding-bottom: 10px;
	color: $byline;
	font-size: ms(0);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.65px;
	line-height: 1;
}
.series-synopsis {
	padding-top: 15px;
	color: $body;
	line-height: 1.5;
	white-space: pre-wrap;
}
.series-image {
	width: 150px;
	height: 215px;
	background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4px;
}
.series-table-row {
	@extend .cf;
	padding: 10px;
	border-top: 1px solid $border-on-white;
}
.series-table-row-key {
	float: left;
	color: $byline;
}
.series-table-row-value {
	float: right;
	max-width: 200px;
	text-align: right;
	line-height: 1.5;
	& div:not(:last-child) {
		padding-bottom: 5px;
	}
}
