.ui-rating {
	@extend .cf;
	margin-left: -10px;
}
.ui-rating-icon {
	float: left;
	cursor: pointer;
	padding-right: 5px;
	color: $cran-red;
	font-size: 26px;
	line-height: 18px;
}
.ui-rating-container {
	float: left;
}
.ui-rating-label {
	@extend .ts-out;
	float: left;
	margin-left: 5px;
	width: 33px;
	color: $winter-black;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	&.hover {
		@extend .ts;
		transform: translateY(-9px);
	}
}
.ui-rating-over-label {
	@extend .ts-out;
	position: absolute;
	margin-left: 5px;
	width: 33px;
	opacity: 0;
	color: $byline;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	transform: translateY(0);
	&.hover {
		@extend .ts;
		opacity: 1;
		transform: translateY(9px);
	}
}
.ui-rating-zero {
	cursor: pointer;
	float: left;
	width: 10px;
	height: 26px;
}
